.layoutContainer {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: row;
}

.main {
  flex: 1;
  background-color: var(--bg-white);
  color: var(--text-primary);
  overflow-y: auto;
}
